<!DOCTYPE html>
<html lang="en">

<head>

    {% include masterhead.html %}

</head>

<body id="page-top">

    {% include header.html %}

    <section id="download" class="download bg-quinary text-center">
        <div class="container">
            <div class="row">
                <div class="col-md-8 col-md-offset-2">
                    <h2 class="section-heading">FAQ</h2>
                    <p>Common questions you might ask.</p>                    
                </div>
            </div>
        </div>
    </section>

    <section id="features" class="features">
        <div class="container">
            <!--<div class="row">
                <div class="col-lg-12 text-center">
                    <div class="section-heading">
                        <h2>Unlimited Features, Unlimited Fun</h2>
                        <p class="text-muted">Check out what you can do with this app theme!</p>
                        <hr>
                    </div>
                </div>
            </div>-->
            <div class="row">
                <div>

        <h3>Why Sunflowerapps.eu instead of Sunflowerapps.com</h3>
		<p>We lost the domain on the website sunflowerapps to a Japanese website, hence we have to switch all apps to the new domain. </p>

		<h3>Which features does the new app have?</h3>
		<p>The new application features Search, Newspapers Update, Offline Downloading, Reordering Papers and Sections, Automatic Subscription for removing Advertisements and Offline Downloading. </p>

		<h3>How often do you update the newspapers?</h3>
		<p>We use the app ourselves to keep up to date to the news, we update the newspapers when the links are broken, or newspapers change their RSS's urls. In case you discover that a newspaper has a broken section or not loading, please let us know via: support@sunflowerapps.eu. We will update them as soon as possible.</p>

		
		<h3>Subscription length and cancellation</h3>
		<p>We enable 1-month automatic charge for advance features such as Offline Downloading newspapers (including all sections and blogs). Subscription also removes advertisements across the app. </p>


		<h3>Is my previous Premium valid?</h3>
		<p>
			Unfortunately we also lost the accounts database that associates the Premium subscription. In order to use the new app, you have to subscribe to the newer version.
		</p>		
		
		<h3>Not see here what you're finding?</h3>
		
        <p>Let us know your question <a href="mailto:support@sunflowerapps.eu">support@sunflowerapps.eu</a>. We'll get in touch quickly. Thanks.</p>
	</div>
            </div>
    </section>

    

    {% include footer.html %}

</body>

</html>
