<!DOCTYPE html>
<html lang="en">

<head>

    {% include masterhead.html %}

</head>

<body id="page-top">

    {% include header.html %}

    <section id="download" class="download bg-quinary text-center">
        <div class="container">
            <div class="row">
                <div class="col-md-8 col-md-offset-2">
                    <h2 class="section-heading">Privacy Policy!</h2>
                    <p>We care about your privacy.</p>                    
                </div>
            </div>
        </div>
    </section>

    <section id="features" class="features">
        <div class="container">
            <!--<div class="row">
                <div class="col-lg-12 text-center">
                    <div class="section-heading">
                        <h2>Unlimited Features, Unlimited Fun</h2>
                        <p class="text-muted">Check out what you can do with this app theme!</p>
                        <hr>
                    </div>
                </div>
            </div>-->
            <div class="row">
                <div>
		<p>This policy covers how Sunflowerapps ("Sunflowerapps," "we," "us," or "our") treats personal information that it collects and receives through our applications on the AppStore and PlayStore. We are not in the business of selling information about you: we use information shared with us for the sole purpose of running and improving our services. This notice tells you what information we collect, steps we take to protect and secure it, how we use and share information, and finally, how you can contact us with question or concerns.</p>

		<h3>1. INFORMATION WE GATHER</h3>
		<p>Sunflowerapps does not collect personal information when you use our apps</p>

		<h3>2. ANALYTICS INFORMATION</h3>
		<p>We use third-party analytics tools, to help us measure traffic and usage trends in the applications. These tools collect information sent on mobile device, including the pages you read and other information that assists us in improving the application development. We collect and use this analytics information in aggregate form such that it cannot reasonably be manipulated to identify any particular individual user.</p>

		
		<h3>3. PAYMENTS</h3>
		<p>We rely on Apple for providing the In App Purchase inside the app. In app purchase subscription helps you use the app without advertisements and download offline newspapers' summaries for reading in case you don't have the internet access after. We do not collect any information on our side about the purchase such as your credit cards, your personal information or your email address.</p>

		<h3>4. INFORMATION USE, SHARING AND DISCLOSURE</h3>
		<p>
			Sunflowerapps does not share personal information we learn about you from your use of the Sunflowerapps’s web sites, products and services with others except as described in this policy. We do not share, sell, rent or trade personally identifiable information with third parties for their promotional purposes.

		</p>		
		
		<h3>5. CHANGES TO THIS PRIVACY POLICY</h3>
		<p>Sunflowerapps may revise, modify or update this policy.</p>
        <p>Please contact us at <a href="mailto:support@sunflowerapps.eu">support@sunflowerapps.eu</a> with any questions regarding this Policy.</p>
	</div>
            </div>
    </section>

    

    {% include footer.html %}

</body>

</html>
